.form {
	width: 300px;
	border: 1px solid;
	border-radius: 5px;
	padding: 0px 20px 20px 20px;
	font-family: sans-serif;
}

.form-title {
	font-size: medium;
}

input,
textarea {
	border: 1px solid;
	border-radius: 5px;
	width: 250px;
	padding: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
}

#msg {
	resize: vertical;
	min-height: 30px;
	max-height: 300px;
}

.checkbox {
	width: 13px;
}

.button {
	cursor: pointer;
}
